- meta title: 'People'

.index-container
  -@people.each do |person|
    %a.box{href: slugify(person), data: { title: person.name } }
      %img.lazy{ data: {src: person.index_image.name.index.url}} 
      .project-title= person.name
