- meta description: "The Now Institute is UCLA's urban planning, design and research center dedicated to solving the complex problems of modern cities and informal settlements."

= render 'layouts/front/slideshow'
