- meta title: @section.title

.index-container
  -@projects.each do |project|
    %a.box{href: request.fullpath + '/' + project.id.to_s + '-' + project.para_title, data: { title: project.title } }
      %img{ src: project.index_image.name.index.url} 
