- meta title: @project.title

.magic-x{data: {action: 'go back'}}

.project-page-wrapper
  .project-page-header-image-wrapper
    .project-page-header-image{ style: "background-image:url(#{@project.primary_image.name.url});"}
