nav {
  flex: 0 0 300px;
  background-color: pink;

  .menu-wrapper-wrapper {
    position:fixed;
    background-color: green;
  }

  ul {
    .sorting {
      display: none;
    }
    .sub-sorting {
      /*display: none;*/
      font-size: $little-sorting-option;
    }

    h1, .sorting a {
      margin-right: 5px;
    }
  }
}

.section.active {

  .sorting {
    display: flex;
    a.active {
      text-decoration: underline;
    }
  }

  > a { 
    text-decoration: underline;
  }
}

.menu-wrapper-wrapper{
  h1 {
    font-size: $header-text;
  }
  .sorting a {
    font-size: $subheader-text;
  }
}

