nav {

  @include respond-to('medium') {
    display: flex !important;
  }

  &.cover {
    width: 100%;
    height: 100%;
    position: fixed !important;
    top: 0;
    background-color: $white;
  }

  flex: 0 0 255px;

  .menu-wrapper-wrapper {

    @include respond_to('medium') {
      position:fixed;
    }
  }

  ul {
    .sorting {
      display: none;

      flex-direction: row;
    }
    .sub-sorting {
      /*display: none;*/
      font-size: $little-sorting-option;
    }

    h1, .sorting a {
      margin-right: 5px;
      display: inline-block;
    }
  }
}

.section.active {
  h1 {
    text-decoration: underline;
  }
  .sorting {
    display: flex;
    a.active {
      text-decoration: underline;
    }
  }

  > a {
    text-decoration: underline;
  }
}

.menu-wrapper-wrapper{
  h1 {
    font-size: $header-text;
  }
  .sorting a {
    font-size: $subheader-text;
  }
}

#hamburger{
  @include respond-to('medium') {
    display:none;
  }
  width: 100%;
  padding: 2px;
  z-index: 99;
  position: fixed;
  background-color: $white;
  * {
    color: $black;
  }
}

.collapse-menu {
  display: none;
}

.magic-x
{
  @include respond-to( 'medium' )
  {
    width: 50px;
    height: 50px;
  }

  position: fixed;
  cursor: pointer;
  width: 40px;
  height: 40px;
  top: $page-margin;
  right: $page-margin;
  z-index: 98;
  background: image-url('trigger_black.svg') no-repeat center center;
  &.white {
    background: image-url('trigger.svg') no-repeat center center;
  }
}
