.project-page-wrapper
{
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  -webkit-overflow-scrolling: touch;
}

.project-page-header-image
{
  @include respond-to( 'medium' )
  {
    height: 45vh;
  }
  @include respond-to( 'large' )
  {
    height: 85vh;
  }

  position: relative;
  height: auto;
  height: 40vh;

	align-items: center;
	align-content: center;
	justify-content: center;

	overflow: hidden;
	margin-left: 0;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.project-page-content-wrapper
{
  @include respond-to( 'medium' )
  {
    margin: 2rem;
  }
  margin: 1rem 1rem 1rem $page-margin;

}

.project-page-header-text
{
  @include respond-to( 'medium' )
  {
    font-size: 3.5rem;
  }
  font-size: $mobile-menu-text;
  flex-flow: row wrap;
}

.project-page-text-wrapper
{
  padding: 2rem 0;
  @include respond-to('large'){
    padding-right: 33px;
  }
  display: flex;
  flex-flow: row;

  //mobile main and desktop sidebar content go here
  .side-bar {
    flex: 1 0 0%;
    max-width: 100%;
    flex-direction: column;
    @include respond-to('medium') {
      min-width: 150px;
    }
  }

  /*desktop main content goes here*/
  .desktop-content{
    padding: 0 30px;
    display: none;
    overflow: hidden;
    @include respond-to('medium') {
      display: flex;
      flex-direction: column;
      flex: 3 0 0%;
    }
  }
}

.project-detail-wrapper {
  padding: 0.5rem 0;

  .project-detail-text, .project-detail-label {

  }
  .project-detail-label {
    margin-right: 5px;

    font-size: 0.7rem;
    text-transform: uppercase;
  }

  &.bib {
    .project-detail-image{
      align-self: center;
      width: 100px;
      height: 100px;
      margin-right: .5rem;
      background-position: left center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}



.description {
  padding-right: 1rem;
  h1
  {
    margin-top: 1rem;
    &:first-of-type {
      margin-top: 0;
    }

    margin-bottom: 0.5rem;
    font-style: italic;
    font-size: $body-text;
  }
  h2
  {
    margin-bottom: 0.2rem;

    font-size: $body-text;
    font-size: 0.7rem;
  }
  p
  {
    margin-bottom: 1.0rem;
  }
}

.desktop-content {
  .overview {
    font-size: $subheader-text;
    margin-bottom: 1rem;
    @include respond-to('large'){
      padding-right: 5rem;
    }
  }

  .section.image-gallery {
    margin: 1rem 0;
    .title {
      margin-bottom: 0.5rem;
    }
  }
}

.side-bar {
  .overview {
    font-size: $subheader-text;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.side-bar > .section {
  margin: 1.2rem 0;
}

.credits {
  > .title {
    margin-bottom: 0.5rem;
  }
}

.section {
  .title {
    font-style: italic;
    font-size: $body-text;
  }
  position: relative;
}

.extra-space {
  height: 600px;
}

.section.credits {
  .section .title {
    font-style: normal;
  }

  @include respond-to('medium') {
    &:before {
      content: "" !important;
    }
  }
}

.openable {
  &:before {
    content: '-';
    display: block !important;
    position: absolute;
    top: -2px;
    left: -15px;
    > .project-detail-wrapper {
      display: none;
    }
  }

  &.closed {
    .content {
      height: 6.5rem;
      overflow-y: hidden;
    }

    &:before {
      content: '+';
      display: block !important;
      position: absolute;
      top: -2px;
      left: -15px;
    }

    > .project-detail-wrapper {
      display: none;
    }

  }
}

.gallery-wrapper {
  position: relative;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  img, .iframe-container {
    margin-right: 1em;
    height: 150px;
  }
}

//mobile
.arrow-left, .arrow-right {
  content: '';
  position: absolute;;
  width: 40px;
  height: 40px;
  top: 55px;
  z-index: 9999;
  background-size: contain;
}

.arrow-left
{
  left: -35px;
  background: image-url('angle-left_black.svg');
}
.arrow-right
{
  right: -42px;
  background: image-url('angle-right_black.svg');
}


.hide-on-desktop{
  display: flex;
  @include respond-to('medium') {
    display: none;
  }
}

.embeds {

  .project-detail-wrapper {
    display: flex;
    flex-direction: row;

    .iframe-container{
      flex-grow: 1;
    }

  }

}
