::-webkit-scrollbar {
  display: none;
}

.container {
  padding: 1rem 0 0 1rem;
  display: flex;
  @include respond_to('medium') {
    flex-direction: row;
  }

  p,h1,h2,h3,a {
    color: $black;
  }

  &.white {
    p,h1,h2,h3,a {
      color: $white;
    }
  }
}

.index-container {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  .box {
    &:hover {
      .project-title {
        text-decoration: underline;
      }
    }

    width: 100%;
    padding-right: 1rem;
    img{
      width: 100%;
    }

    @include respond-to('medium') {
      width: auto;
      padding-right: 0rem;
      margin-right: 1.5rem;
      img{
        width: 250px;
        height: 204px;
        background-color: white;
      }
    }

    margin-bottom: 2rem;

    .project-title{
      font-style: italic;
    }
  }

  .news-item {

		border-bottom: 1px solid #e6e6e6;
    width: 100%;
    margin-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    img {
      width: 150px;
      height: auto;
      float: left;
    }
  }

  .news-content {
    margin-left: 170px;
  }

  .project-title{
    font-style: italic;
  }

  .project-overview {
    margin-top: 1rem;
  }
}

.news-hero {
  width: 100%;
  margin-top: -2rem;
}
.news-date {
  font-size: 0.7rem;
  text-transform: uppercase;
}

.hero-image {

  @include respond-to( 'medium' )
  {
    height: 35vh;
  }
  @include respond-to( 'large' )
  {
    height: 45vh;
  }

  position: relative;
  height: auto;
  height: 30vh;

	align-items: center;
	align-content: center;
	justify-content: center;

	overflow: hidden;
	margin-left: 0;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

  .project-title {
    font-size: 3.5rem;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: rgba(0,0,0,.3);
  }
}

.slideshow-wrapper {
  z-index: -99;
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

.slideshow-image-and-title {
  display: none;
}

.slide-title {
  @include respond-to('medium')
  {
    display: block;
  }
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: transparent;
  padding: $page-margin;
  font-size: 1.8rem;
  letter-spacing: -2px;
  margin: 0;
}

.slideshow-image {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  //position: absolute; 
  //top: 0; 
  //left: 0; 
  //right: 0; 
  //bottom: 0; 
  //margin: auto; 
  //min-width: 50%;
  //min-height: 50%;
  //display: none;
}


.markdown {
  a {
    text-decoration: underline;
  }
}

.content-over-slideshow {
  max-width: 600px;
  p {
    font-size: $subheader-text;
    margin-bottom: 2rem;
  }

  @include respond-to('medium'){
    margin: 1rem 4rem 0 3rem;
  }

  &.contact{
    margin-top: 40px;
  }
}

.underline {
  text-decoration: underline;
}

.underline-on-hover {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.hide {
  display: none !important;
}

.clickable {
  cursor: pointer;
}
