!!! XML

%urlset{ xmlns: "http://www.sitemaps.org/schemas/sitemap/0.9"}
  %url
    %loc https://www.thenowinstitute.org
    %priority 1
    %changefreq weekly
  %url
    %loc https://www.thenowinstitute.org/about
    %priority 0.8
    %changefreq weekly
  %url
    %loc https://www.thenowinstitute.org/about/contact
    %priority 0.8
    %changefreq weekly

  %url
    %loc https://www.thenowinstitute.org/about/people

  - @people.each do |person|
    %url
      %loc= "https://www.thenowinstitute.org" + slugify(person)

  - @projects.each do |project|
    %url
      %loc= "https://www.thenowinstitute.org" + slugify(project)
