body {
  display: flex;
}

.menu-container{
  flex-grow: 1;
  z-index: 999;
  background: rgba(0,0,0,0.3)
}

.menu-container.white{
  h1 {
    color: white;
  }
}

.slideshow-wrapper {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

.slideshow-image {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  display: none;
}

.index-container {
  flex-grow: 3;
  .box {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;

    img {
      position: absolute;
    }
  }
}
