#hamburger{class: ('hide' unless @projects||@people)}
  - sub = @people ? 'people' : (@projects && @projects.first.section.title.downcase)
  %h1{href: '#'}= "NOW/#{sub}"

%nav{class: ('hide' unless @display_mobile_menu )}
  .menu-wrapper-wrapper
    %ul.menu-wrapper
      - @menu[:sections].each do |section|
        .section
        .section{ class: ('active' if request.fullpath[section[:url]]) }
          %a{ href: section[:url], target: (section[:target])}
            %h1= section[:title]

          .sorting
            - if section[:url] == '/about'
              %a{href: '/about/contact', class: ('active' if request.fullpath['/about/contact'])} contact,
              %a{href: '/about/people', class: ('active' if request.fullpath['/about/people'])} people

.magic-x{class: 'hide', data: {action: 'collapse menu'} }
