%nav
  .menu-wrapper-wrapper{ class: ('white' if @menu_white)}
    %ul.menu-wrapper
      - @menu[:sections].each do |section|
        .section
          %a{ href: section[:url]}
            %h1= section[:title]
        .sorting
          %a{href: '', data: {sort:'alpha'}}
            %h2 a-z
          %a{href: '', data: {sort:'year'}}
            %h2 year
          %a{href: '', data: {sort:'type'}}
            %h2 type
