.menu-directive
  %ul.menu-directive-wrapper
    //- Build each big menu item and subsections
    - @menu[:sections].each do |bigMenuItem|
      %li.menu-section
        .section-title{ class: ('selected' if request.fullpath[bigMenuItem[:url]]) }
          %span.section-title-inner
            =bigMenuItem[:title]

        - if true 
          .sorting-options
            - bigMenuItem[:sorting].each do |sortingOption|
              .sorting-option-wrapper
                .sorting-option-title-wrapper{ class: ('selected' if true) }
                  .sorting-option-title
                    = sortingOption[:title]
