#hamburger{class: ('hide' unless @projects||@people|| /contact/.match(request.fullpath))}
  %h1{href: '#'}= "NOW/#{ /\w*$/.match(request.fullpath) }"
  -# sub = @people ? 'people' : (@projects && @projects.first.section.title.downcase)

.menu-directive{class: ( 'contracted-menu' if @projects || @people || /contact/.match(request.fullpath))}
  %ul.menu-directive-wrapper{ class: ( 'white-menu' if @white_menu ) }
    //- Build each big menu item and subsections
    - @menu[:sections].each do |bigMenuItem|
      %li.menu-section
        .section-title{ class: ('selected' if request.fullpath[bigMenuItem[:url]]) }
          %a.section-title-inner{href: bigMenuItem[:url], target: ( '_blank' if bigMenuItem[:title] == 'News')}
            =(request.fullpath == '/' && bigMenuItem[:url]=='/about') ? "Now Institute" : bigMenuItem[:title]

        - if request.fullpath['about'] && request.fullpath[bigMenuItem[:url]]
          .sorting-options
            - bigMenuItem[:sorting].each do |sortingOption|
              .sorting-option-wrapper
                .sorting-option-title-wrapper{ class:('selected' if sortingOption[:url] && request.fullpath[sortingOption[:url]]) }
                  %a.sorting-option-title{ href: sortingOption[:url] }= sortingOption[:title]

                - if @people
                  .option-list-wrapper
                    - if sortingOption[:title] == "People"
                      %ul.ghost-elements
                        - sortingOption[:items].each do |ghostElement|
                          %li.ghost-element Ghost
                      %ul.option-list
                        - sortingOption[:items].each do |el|
                          %li.option
                            %p= el


.magic-x{class: 'hide', data: {action: 'collapse menu'} }
